.contactList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contactList:last-child {
  margin-bottom: 20px;
}

.contactItem {
  border: 2px solid #d88b98;
  border-radius: 5px;
  padding: 10px;
  background-color: transparent;
}
